.App {
  width: 100vw;
  // background-image: url('https://pbs.twimg.com/media/FdrCw5TXEAIdi2H.png:large');
  // background-color: transparent;
  background: repeat padding-box border-box 0% 0% / auto auto scroll
    radial-gradient(circle at 50% 50%, #0d1409 0%, #64b6e1 100%) #7d3636;
}

.logo {
  padding: 1.25em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.logo.ts:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.logo.scss:hover {
  filter: drop-shadow(0 0 2em #cc6698aa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.menu {
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 0px;
  margin-right: 10px;
  margin-bottom: 0px;
  margin-left: 10px;
}
.menuItems {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  text-align: start;
  column-gap: 10px;
  color: #fff;
}
.link {
  color: #fff;
  &:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 15px;
  }
  padding: 15px;
  border-radius: 10px;
}
.hotel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-image: radial-gradient(circle at 50% 50%, #f5ab82 0%, #bce4d8 100%);
  background-color: transparent;
  background-position: 0%;
  background-size: auto;
  background-repeat: repeat;
  background-attachment: scroll;
  background-origin: padding-box;
  background-clip: border-box;
}
